.slideshow {
    position: relative;
    &__picture {
        height: 415px;
        width: 100%;
        border-radius: 25px;
        object-fit: cover;
    }
    &__arrow {
        position: absolute;
        top: 156.7px;
        height: 79.2px;
        cursor: pointer;
        &__left {
            margin-left: 23.36px;
        }
        &__right {
            right: 0;
            margin-right: 23.36px;
        }
    }
    p {
        position: absolute;
        font-size: 18px;
        text-align: center;
        font-weight: 500;
        color: #FFFFFF;
        z-index: 1;
        width: 100%;
        bottom: 24.92px;
    }
}


/* Format mobile */

@media all and (max-width: 768px) {
    .slideshow {
        &__picture {
            height: 255px;
            border-radius: 10px;
        }
        &__arrow {
            top: 116.7px;
            height: 19.8px;
            &__left {
                margin-left: 5.84px;
            }
            &__right {
                margin-right: 5.84px;
            }
        }
        p {
            font-size: 14px;
            bottom: 15px;
        }
    }
}