.page {
    margin: 49.36px 100px 50px 100px;
    &__list {
        margin: 31px 109px 0 108px;
        padding-left: 0;
    }
}

/* Format mobile */

@media all and (max-width: 768px) {
    .page {
        margin: 17px 20px 25px 20px;
        min-height: 550px;
        &__list {
            margin: 19px 0 0 0;
            padding-left: 0;
        }
    }
  }