@import '../../style/variables.module.scss';

.page {
    margin: 20px 100px 50px 100px;
}

.heading {
    display: flex;
    justify-content: space-between;
    color: $primary;
    font-weight: 500;
    h1 {
        font-size: 36px;
        padding-bottom: 5px;
        }
    p {
        font-size: 18px;
        margin-bottom: 20px;
    }
    &__tags {
        display: flex;
        list-style-type: none;
        padding: 0;
        &__tag {
            margin: 0 10px 24px 0;
            background-color: $primary;
            min-width: 115px;
            height: 25px;
            border-radius: 10px;
            color: white;
            text-align: center;
            font-size: 14px;
            line-height: 25px;
        }
    }
}

.subheading {
    justify-content: space-between;
    font-weight: 500;
    &__host {
        display: flex;
        color: $primary;
        p {
            width: 100px;
            text-align: right;
            line-height: 25px;
            font-size: 18px;
            padding: 10px 10px 0 0;
        }
        img {
            height: 64px;
            width: 64px;
            border-radius: 50px;
        }
    }
    &__stars {
        display: flex;
        justify-self: baseline;
        img {
            width: 30px;
            padding-left: 10px;
        }
    }
}

.dropdowns {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    &__dropdown {
        min-width : 582px;
        width: 48%;
        &__equipments {
            list-style-type: none;
            padding: 0;
        }
    }
}

/* Format mobile */

@media all and (max-width: 768px) {
    .page {
        margin: 27px 20px;
    }
    .heading {
        display: flex;
        flex-direction: column;
        h1 {
            font-size: 18px;
            }
        p {
            font-size: 14px;
            margin-bottom: 10px;

        }
        &__tags {
            &__tag {
                font-size: 10px;
                height: 18px;
                min-width: 84px;
                line-height: 17px;
                margin-bottom: 0;
            }
        }
  }
  .subheading {
      display: flex;
      flex-direction: row-reverse;
      align-items: center;
      &__host {
        p {
            line-height: 20px;
            font-size: 12px;
            width: 50px;
        }
        img {
            height: 32px;
            width: 32px;
            border-radius: 50px;
            margin-top: 14px;
        }
    }
    &__stars {
        img {
            width: 15px;
            padding-left: 5px;
        }
    }
} }