@import '../../style/variables.module.scss';

.page {
    margin: 0 100px 50px 100px;
}

.heading {
    display: flex;
    justify-content: space-between;
    color: $primary;
    font-weight: 500;
        h1 {
            font-size: 36px;
            line-height: 51.34px;
            }
        p {
            font-size: 18px;
            line-height: 25.67px;
            margin-bottom: 20px;
    }
    &__host {
        display: flex;
        font-size: 18px;
        color: $primary;
        p {
            width: 100px;
            text-align: right;
            line-height: 25px;
            padding: 10px 10px 0 0;
        }
        img {
            height: 64px;
            width: 64px;
            border-radius: 50px;
        }
    }
}

.subheading {
    display: flex;
    justify-content: space-between;
    font-weight: 500;
    &__tags {
        display: flex;
        list-style-type: none;
        padding: 0;
        &__tag {
            margin: 0 10px 24px 0;
            background-color: $primary;
            min-width: 115px;
            height: 25px;
            border-radius: 10px;
            
                color: white;
                text-align: center;
                font-size: 14px;
                line-height: 25px;
            
        }
    }
    &__stars {
        display: flex;
        justify-self: baseline;
        img {
            width: 30px;
            padding-left: 10px;
        }
    }
}

.dropdowns {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    &__dropdown {
        min-width : 582px;
        width: 48%;
        &__equipments {
            list-style-type: none;
            padding: 0;
        }
    }
}