.cards-section {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #F7F7F7;
    margin: 43px 0 43px 0;
    border-radius: 25px;
    
}

.homepage {
    margin: 63px 100px 0 100px;
}

/* Format mobile */

@media all and (max-width: 768px) {
    .homepage {
        margin: 16px 20px 0 20px;
    }
}