* {
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
    margin: 0;
} 

@font-face {
    font-family: 'Montserrat';
    src: url('./police/Montserrat-VariableFont_wght.ttf') format('truetype');
}