/* Couleurs */
* {
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
  margin: 0;
}

@font-face {
  font-family: "Montserrat";
  src: url("./police/Montserrat-VariableFont_wght.ttf") format("truetype");
}
.page {
  margin: 49.36px 100px 50px 100px;
}
.page__list {
  margin: 31px 109px 0 108px;
  padding-left: 0;
}

/* Format mobile */
@media all and (max-width: 768px) {
  .page {
    margin: 17px 20px 25px 20px;
  }
  .page__list {
    margin: 19px 0 0 0;
    padding-left: 0;
  }
}
.page {
  margin: 63px 100px 0 100px;
}

.cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background: #F7F7F7;
  margin: 43px 0;
  border-radius: 25px;
  padding: 31px 20px;
}

/* Format mobile */
@media all and (max-width: 768px) {
  .page {
    margin: 16px 20px 0 20px;
  }
  .cards {
    background: none;
    margin: 0;
    padding: 12px 0;
  }
}
/* Couleurs */
.error {
  color: #FF6060;
  text-align: center;
  margin: 100px 0 150px 0;
}
.error h1 {
  font-size: 288px;
  font-weight: 700;
}
.error p {
  font-size: 36px;
  font-weight: 500;
  padding-bottom: 182px;
}
.error a {
  color: #FF6060;
  font-size: 18px;
  font-weight: 500;
}

/* Format mobile */
@media all and (max-width: 768px) {
  .error h1 {
    font-size: 96px;
  }
  .error p {
    font-size: 18px;
    margin: 0 57px;
    padding-bottom: 133px;
  }
  .error a {
    font-size: 14px;
  }
}
/* Couleurs */
.page {
  margin: 20px 100px 20px 100px;
}

.heading {
  display: flex;
  justify-content: space-between;
  color: #FF6060;
  font-weight: 500;
  margin-top: 30px;
}
.heading h1 {
  font-size: 36px;
  line-height: 51.34px;
}
.heading p {
  font-size: 18px;
  line-height: 25.67px;
  margin-bottom: 20px;
}
.heading__tags {
  display: flex;
  list-style-type: none;
  padding: 0;
}
.heading__tags__tag {
  margin: 0 10px 24px 0;
  background-color: #FF6060;
  padding: 0 10px;
  min-width: 115px;
  height: 25px;
  border-radius: 10px;
  color: white;
  text-align: center;
  font-size: 14px;
  line-height: 25px;
}

.subheading {
  justify-content: space-between;
  font-weight: 500;
}
.subheading__host {
  display: flex;
  color: #FF6060;
}
.subheading__host p {
  width: 100px;
  text-align: right;
  line-height: 25.67px;
  font-size: 18px;
  padding: 10px 10px 0 0;
}
.subheading__host img {
  height: 64px;
  width: 64px;
  border-radius: 50px;
}
.subheading__stars {
  display: flex;
  justify-self: baseline;
}
.subheading__stars img {
  width: 30px;
  height: 30px;
  padding-left: 10px;
}

.dropdowns {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.dropdowns__dropdown {
  min-width: 582px;
  width: 48%;
}
.dropdowns__dropdown__equipments {
  list-style-type: none;
  padding: 0;
}

/* Format mobile */
@media all and (max-width: 768px) {
  .page {
    margin: 27px 20px 10px 20px;
  }
  .heading {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
  }
  .heading h1 {
    font-size: 18px;
    line-height: 25.67px;
    padding-bottom: 5px;
  }
  .heading p {
    font-size: 14px;
    line-height: 19.96px;
    margin-bottom: 10px;
  }
  .heading__tags__tag {
    font-size: 10px;
    height: 18px;
    min-width: 84px;
    line-height: 18px;
    margin-bottom: 0;
  }
  .subheading {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    margin-bottom: 10px;
  }
  .subheading__host p {
    line-height: 17.11px;
    font-size: 12px;
    width: 70px;
  }
  .subheading__host img {
    height: 32px;
    width: 32px;
    border-radius: 50px;
    margin-top: 10.5px;
  }
  .subheading__stars img {
    width: 15px;
    height: 15px;
    padding-left: 5px;
  }
  .dropdowns__dropdown {
    width: 100%;
    min-width: 235px;
  }
}
/* Couleurs */
.header {
  display: flex;
  justify-content: space-between;
  margin: 40px 100px 0 100px;
}
.header img {
  height: 62.26px;
}
.header__nav {
  align-self: center;
}
.header__nav a {
  text-decoration: none;
  color: #FF6060;
  font-size: 24px;
  font-weight: 500;
  margin-left: 57px;
}
.header__nav a:hover {
  border-bottom: 1px solid #FF6060;
}

/* Format mobile */
@media all and (max-width: 768px) {
  .header {
    margin: 20px 20px 0 20px;
  }
  .header img {
    height: 43.03px;
  }
  .header__nav a {
    font-size: 12px;
    margin-left: 10px;
    text-transform: uppercase;
  }
}
.banner {
  position: relative;
  height: 223px;
  border-radius: 25px;
}
.banner h1 {
  position: absolute;
  text-align: center;
  color: #FFFFFF;
  font-size: 48px;
  font-weight: 500;
  z-index: 1;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.banner img {
  border-radius: 25px;
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.banner__background {
  position: absolute;
  background: #000000;
  opacity: 0.3;
  height: 100%;
  width: 100%;
  border-radius: 25px;
  left: 0;
  top: 0;
}

/* Format mobile */
@media all and (max-width: 768px) {
  .banner {
    height: 111px;
  }
  .banner img {
    border-radius: 10px;
  }
  .banner h1 {
    font-size: 24px;
    text-align: unset;
    padding-left: 16px;
    top: 0%;
    left: 0%;
    transform: translate(0%, 50%);
  }
  .banner__background {
    border-radius: 10px;
  }
}
.card {
  position: relative;
  width: 340px;
  height: 340px;
  margin: 25px 30px;
  border-radius: 10px;
}
.card img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  object-fit: cover;
}
.card h1 {
  position: absolute;
  left: 5.88%;
  right: 5.88%;
  top: 78.82%;
  bottom: 5.88%;
  font-weight: 500;
  font-size: 18px;
  line-height: 142.6%;
  display: flex;
  align-items: flex-end;
  color: #FFFFFF;
  z-index: 1;
}
.card__background {
  position: absolute;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
  height: 100%;
  width: 100%;
  border-radius: 10px;
  left: 0;
  top: 0;
}

/* Format mobile */
@media all and (max-width: 768px) {
  .card {
    margin: 10px 20px;
    width: 334px;
    height: 255px;
  }
}
.slideshow {
  position: relative;
}
.slideshow__picture {
  height: 415px;
  width: 100%;
  border-radius: 25px;
  object-fit: cover;
}
.slideshow__arrow {
  position: absolute;
  top: 156.7px;
  height: 79.2px;
  cursor: pointer;
}
.slideshow__arrow__left {
  margin-left: 23.36px;
}
.slideshow__arrow__right {
  right: 0;
  margin-right: 23.36px;
}

/* Format mobile */
@media all and (max-width: 768px) {
  .slideshow__picture {
    height: 255px;
    border-radius: 10px;
  }
  .slideshow__arrow {
    top: 116.7px;
    height: 19.8px;
  }
  .slideshow__arrow__left {
    margin-left: 5.84px;
  }
  .slideshow__arrow__right {
    margin-right: 5.84px;
  }
}
/* Couleurs */
.dropdown {
  position: relative;
  list-style-type: none;
  cursor: pointer;
  margin-bottom: 31px;
}
.dropdown__title {
  color: white;
  background: #FF6060;
  border-radius: 5px;
  font-size: 24px;
  font-weight: 500;
  padding: 5px 18px;
}
.dropdown__description {
  background: #F7F7F7;
  padding: 30px 18px 19px 27px;
  font-size: 24px;
  font-weight: 400;
  color: #FF6060;
}
.dropdown__arrow {
  position: absolute;
  width: 14.06px;
  right: 3%;
  top: 16px;
}

/* Format mobile */
@media all and (max-width: 768px) {
  .dropdown {
    margin-bottom: 19px;
  }
  .dropdown__title {
    font-size: 13px;
  }
  .dropdown__description {
    padding: 11px 23px;
    font-size: 12px;
  }
  .dropdown__arrow {
    position: absolute;
    width: 8.98px;
    top: 11px;
  }
}

/*# sourceMappingURL=style.css.map */
