footer {
    height: 209px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: 500;
    color: #FFFFFF;
    background-color: #000000;
    padding-bottom: 35px;
    img {
        height: 36.11px;
        margin-top: 66px;
    }
    p {
        margin-top: 31.67px;
    }
}

/* Format mobile */

@media all and (max-width: 768px) {
    footer {
        font-size: 12px;
        p {
            margin-top: 20px;
        }
    }
  }