.banner {
    position: relative;
    height: 223px;
    margin-bottom: 35px;
    border-radius: 25px;
    img {
        border-radius: 25px;
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    p {
        position: absolute;
        color: #FFFFFF;
        font-size: 48px;
        top: 30%;
        left: 20%;
        z-index: 1;
    }
  }
  
  .background {
    position: absolute;
    background: #000000;
    opacity: 0.3;
    height: 100%;
    width: 100%;
    border-radius: 25px;
    left: 0;
    top: 0;
  }