.banner {
    position: relative;
    height: 223px;
    border-radius: 25px;
    h1 {
      position: absolute;
      text-align: center;
      color: #FFFFFF;
      font-size: 48px;
      font-weight: 500;
      z-index: 1;
      width: 100%;
      top: 50%;  
      left: 50%;
      transform: translate(-50%, -50%)
    } 
    img {
        border-radius: 25px;
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    &__background {
      position: absolute;
      background: #000000;
      opacity: 0.3;
      height: 100%;
      width: 100%;
      border-radius: 25px;
      left: 0;
      top: 0;
    }
  }

 

/* Format mobile */

@media all and (max-width: 768px) {
  .banner {
    img {
        border-radius: 10px;
      }
    h1 {
        font-size: 24px;
        text-align: unset;
        padding-left: 16px;
        top: 0%;  
        left: 0%;
        transform: translate(0%, 50%)
    }
    &__background {
      border-radius: 10px;
    }
    &__small {
      height: 111px
    }
  }
}