@import '../../style/variables.module.scss';

.error {
    color: $primary;
    text-align: center;
    margin: 100px 0 150px 0;
    h1 {
        font-size: 288px;
        font-weight: 700;
    }
    p {
        font-size: 36px;
        font-weight: 500;
        padding-bottom: 182px;
    }
    a {
        color: $primary;
        font-size: 18px;
        font-weight: 500;
    }
}

/* Format mobile */

@media all and (max-width: 768px) {
    .error {
        min-height: 335px;
        h1 {
            font-size: 96px;
        }
        p {
            font-size: 18px;
            margin: 0 57px;
            padding-bottom: 133px;
        }
        a {
            font-size: 14px;
        }
    }
  }